.arrows__link {
  padding: 10px;
  background-color: $dark-blue;
}
.arrows__link-icon {
  fill: $white-color;
  width: 10px;
  height: 10px;
}
.arrows__link-up {
  transform: rotate(-90deg);
}
.arrows__link-down {
  transform: rotate(90deg);
}
