.circle__icon {
  fill: transparent;

  /* transform: translate(25%, 25%); */
}
.circle__icon--above {
  /* stroke-dasharray: 252; */
  stroke-dashoffset: 10%;
  stroke: url(#gradient);
  stroke-width: 20px;
  stroke-dasharray: 283;
  stroke-dashoffset: 10%;
}
.circle__icon--under {
  stroke: $circle-color;
  stroke-width: 10px;
}
