.circle__icon {
  fill: transparent;

  /* transform: translate(25%, 25%); */
}
.circle__icon--above {
  stroke-width: 20px;
  stroke-dasharray: 414;
  stroke-dashoffset: 5;
}
.circle__icon--under {
  stroke: $circle-color;
  stroke-width: 10px;
}
