.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray-color;
}
.header__logo {
  font-size: 36px;
  font-family: "Open Sans";
  font-weight: 800;
}
.header__btns {
  margin: 0 20px;
}
