.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray-color;
  min-height: 100px;
  width: 100%;

  /* margin-bottom: auto; */
}
.header__logo {
  font-size: 36px;
  font-family: "Open Sans";
  font-weight: 800;
  @include beforeTablets {
  }
}
.header__btns {
  margin-left: 20px;
  @include beforeTablets {
    position: absolute;
    left: 92%;
    top: 5%;
  }
}
