.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hero {
  height: 100vh;
  position: relative;
  min-height: 650px;
  margin-bottom: 100px;
  display: flex;
  align-items: flex-start;

  @include phones {
    margin-bottom: 0;
  }
}
.hero__content {
}
.hero__bottom-btn {
  @include tablets {
    display: none;
  }
}
