.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 60px;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    border-bottom: 1px solid $main-color;
  }
}
.menu__link {
  font-size: 16px;
  color: $gray-color;
  font-family: "Open Sans";
  font-weight: 400;
  &--white {
    color: $white-color;
  }
  &:hover {
    color: $main-color;
  }
}
