.points {
}
.points__item {
  height: 100px;
  .active {
    outline: 2px solid $orange-color;
  }

  &:hover {
    outline: 2px solid $orange-color;
  }
}
.active {
  outline: 2px solid $orange-color;
}
