.points {
}
.points__item {
  height: 100px;
  .active {
    outline: 2px solid $main-color;
  }

  &:hover {
    outline: 2px solid $main-color;
    background-color: $main-color;
    z-index: 10;
  }
}
