.points {
}
.points__item {
  height: 100px;

  &:hover {
    outline: 2px solid $main-color;
    background-color: $main-color;
    z-index: 10;
  }
}
.pointsActive {
  outline: 2px solid $main-color;
}
