.projects-slider {
  position: relative;
}
.projects-slider__arrows {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 100%;
  right: 0;
}

.projects-slider__points {
  position: absolute;
  right: 0;
  bottom: 7%;
}
