.projects-slider {
  position: relative;
}
.projects-slider__arrows {
  display: flex;
  justify-content: flex-end;
}
.projects-slider__list {
}
.projects-slider__points {
  position: absolute;
  left: 0;
  top: 0;
}
