.projects-container {
  margin-bottom: 100px;
}
.projects-section__content {
  display: flex;
}

.projects-section__left {
  margin-right: 100px;

  flex: 2;
}
.projects-section__right {
  position: relative;
  display: flex;
  flex: 1;
}
