.projects-number {
  position: absolute;
  left: 91%;
  top: -29%;
  z-index: -10;
  display: inline-block;

  p {
    font-size: 300px;
    color: $circle-color;
    font-family: "Open Sans";
    font-weight: 800;
  }
  @include phones {
    display: none;
  }
}
