.rv-slider__list {
  display: flex;
}
.rv-slider__item {
  display: flex;
  width: 45%;
  flex-shrink: 0;

  &:nth-child(2n + 1) {
    margin-right: 4%;
    @include phones {
      margin-right: 0;
    }
  }
  @include beforeTablets {
    width: 50%;
  }
  @include beforePhones {
    width: 100%;
  }
}
.rv-slider__item-quote {
  margin-right: 5%px;
  @include phones {
    display: none;
  }
}
.rv-slider__item-content {
  font-family: "Open Sans";
}
