.reviews__author {
  display: flex;
}
.reviews-col {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}
.reviews__author-name {
  font-size: 18px;
  color: $reviews-color;
  font-weight: 700;
}
.reviews__author-position {
  font-size: 16px;
  color: $reviews-color;
  font-weight: 600;
  opacity: 0.3;
}
