.reviews-section__head {
  margin-bottom: 65px;
  display: flex;
  align-items: center;
}

.reviews-section__slider {
  width: 80%;
  overflow: hidden;
  margin-bottom: 100px;
  @include tablets {
    width: 100%;
  }
}
