.reviews-head {
  margin-bottom: 65px;
  display: flex;
  align-items: center;
}
.reviews__text {
  font-size: 16px;
  color: $reviews-color;
  opacity: 0.5;
  font-weight: 600;
  margin-bottom: 20px;
}
.reviews-title {
  margin-right: 70px;
}
