.scroll__down-btn {
  display: inline-block;
  font-size: 18px;
  color: $grey;
  font-family: "Open Sans";
  font-weight: 600;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 30px;
    background: green;
    margin-left: 20px;
  }
}
