.section__title {
  margin-bottom: 65px;
  h2 {
    font-size: 36px;
    color: $text-color;
    font-family: "Open Sans";
    font-weight: 700;
  }
  &--without--margin{
    margin-bottom: 0px;
  }}
