.section__title {
  margin-bottom: 20%;
  text-align: left;
  h2 {
    font-size: 36px;
    color: $text-color;
    font-family: "Open Sans";
    font-weight: 700;
  }
  &--without--margin--bottom {
    margin-bottom: 0px;
  }
  &--margin--right {
    margin-right: 10%;
    @include phones {
      margin-right: 0;
      margin-bottom: 10%;
    }
  }
  &--align--center {
    @include tablets {
      text-align: center;
    }
  }
}
