.skills-row__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-row__title {
  font-size: 18px;
  color: $grey;
  font-family: "Open Sans";
  font-weight: 700;
  margin-bottom: 30px;
}
