.skill__title {
  font-size: 18px;
  color: $grayscale-color;
  font-family: "Open Sans";
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skill__circle {
  
}
