/* .skill__circle {
  width: 150px;
  height: 150px;
  fill: transparent;
  stroke: red;
  stroke-width: 3;
  position: relative;
}
.skill__circle-val {
  position: absolute;
  stroke: #393939;
  stroke-width: 5;
  width: 150px;
  height: 150px;
  fill: transparent;
} */
