.tags__item {
  background-color: $tag-bg-color;
  font-size: 15px;
  color: $text-color;
  font-family: "Open Sans";
  font-weight: 600;
  margin-right: 15px;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.tags__list {
  display: flex;
  align-items: center;
  margin-bottom: 8%;
  justify-content: flex-start;
  flex-wrap: wrap;

}
