.techno__item {
  display: inline-flex;
  border-radius: 23px;
  background-color: #859fc2;
  font-size: 15px;
  line-height: 48px;
  color: #2f3642;
  font-family: "Open Sans";
  font-weight: 600;
}
