.triangles {
  display: flex;
}
.values__triangles {
  background-color: #f8f7fc;
}
.triangles__item {
  width: 50%;
  height: 125px;
  fill: #fff;
}
.triangles__item-rotate {
  transform: rotate(-180deg);
}
.reviews__triangles {
  background-color: #e0e8f2;
}
