.user-info__avatar {
  width: 200px;
  height: 200px;
}
.user-info {
  margin-bottom: 50px;
}
.user-info__data {
  min-width: 300px;
  font-size: 16px;
  color: $gray-color;
  font-family: "Open Sans";
  font-weight: 600;
}
.user-info__data-key {
  color: $lightgray-color;
}
.user-info__data-val {
  color: inherit;
}
