.user-info__avatar {
  width: 200px;
  height: 200px;
}
.user-info {
  margin-bottom: 50px;
}
.user-info__data {
  min-width: 300px;
  font-size: 16px;
  color: $text-color;
  font-family: "Open Sans";
  font-weight: 600;
}
.user-info__data-key {
  opacity: 0.3;
}
.user-info__data-val {
}
