.user-data {
  display: flex;
  align-items: flex-start;
  color: $text-color;
}
.user-data__desc {
  font-size: 18px;
  color: inherit;
  font-family: "Open Sans";
  font-weight: 600;
  text-align: right;
  margin-right: 50px;
  min-width: 170px;
}
.user-data__name {
  h1 {
    font-size: 72px;
    line-height: 60px;
    color: inherit;
    font-family: "Open Sans";
    font-weight: 800;
  }
}
