script(type="text-/x-template")#slider-container
    .slider-container
        display(
            :currentProject="currentProject"
            :projects="projects"
            :currentIndex="currentIndex"
            @slide="handleSlide"
            )    
        info(
            :currentProject="currentProject"
        )

script(type="text-/x-template")#slider-display
    .projects-section__pics(:data-slide="currentIndex + 1")
        .projects-slider
            .projects-slider__container.slider
                img(:src="currentProject.photo").slider__img
            thumbs(
               :projects="reversedProjects" 
               :currentProject="currentProject"
            )
            btns(
                @slide="$emit('slide', $event)"
               :projects="reversedProjects" 
               :currentProject="currentProject"
            )


script(type="text-/x-template")#slider-thumbs
    .projects-slider__points.points
        ul.points__list
            li.points__item(
                v-for="project in projects" 
                :key="project.id"
                :class="{pointsActive: currentProject.id === project.id}"
            )
                a.points__link
                    img(:src="project.photo").slider__icon

script(type="text-/x-template")#slider-btns
    .projects-slider__arrows.arrows
        ul.arrows__list
            li.arrows__item.arrows__item--bg--gray
                button(type="button" @click.prevent="$emit('slide','next')" :class="currentProject.id<projects.length? 'arrowActive': 'arrowPassive'").arrows__btn.square-btn.square-btn--rotate--up
            li.arrows__item.arrows__item--bg--gray
                button(type="button" @click.prevent="$emit('slide','prev')" :class="currentProject.id>1? 'arrowActive' : 'arrowPassive'").arrows__btn.square-btn.square-btn--rotate--down       

script(type="text-/x-template")#slider-info
    .projects-section__info
        tags(
            :tags="currentProject.techs.split(' ')"
        )
        .projects-brief__content
            h3 {{currentProject.title}}
            p {{currentProject.description}}
        a(:href="currentProject.link").projects-brief__link Посмотреть сайт

script(type="text-/x-template")#slider-tags
    .projects-brief.tags
        ul.tags__list 
            li.tags__item(v-for="tag in tags" :key="tag")
                .tag {{tag}}


