script(type="text-/x-template")#rev-block
    .reviews-section__block
        .reviews-section__head
            .section__title.section__title--margin--right.section__title--without--margin--bottom
                h2 Что обо мне говорят
            btns(
                 @slide="handleSlide"                  
                )
        .reviews-section__slider.rv-slider(ref="sliderBlock")
            slider(
            :currentRev="currentRev"
            :reviews="reviews"
             @click="handleSlide" 
        )
                  

script(type="text-/x-template")#rev-btns
    .reviews-section__arrows.arrows
         ul.arrows__list
            li.arrows__item.arrows__item--margin-right
                button(type="button" @click.prevent="$emit('slide','prev')").arrows__btn.circle-btn.circle-btn--rotate--left
            li.arrows__item
                button(type="button" @click.prevent="$emit('slide','next')").arrows__btn.circle-btn
                
script(type="text-/x-template")#rev-slider
        ul.rv-slider__list(ref="moveSlider")
            li.rv-slider__item(v-for="rev in reviews" :key="rev.id")
                .rv-slider__item-quote
                    +icon("quote", "quote")
                slide(
                    :slideInfo="rev"
                    :currentRev="currentRev"
                    :reviews="reviews"
                )
                
script(type="text-/x-template")#rev-slide
    .rv-slider__item-content.reviews
        p.reviews__text {{slideInfo.text}}
        .reviews__author.author
            .author__col.author__col-avatar.avatar
                img(:src="currentRev.avatar").avatar__img           
            .author__col
                h3.author__col-name  {{slideInfo.name}}
                p.author__col-position  {{slideInfo.position}}


                