mixin social(modif)
  ul(class="socials__list "+`socials__list--${modif}`)
    each value, key in {vk:"https://vk.com/piteeva", github:"https://github.com/JuliaPiteeva/", insta:"https://www.facebook.com/yuliya.bubnova"}
      li.socials__item
        a(class="socials__link" href=`${value}`)
          +icon(`${key}`, "socials__icon")
  